asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
django-cors-headers==4.7.0
djangorestframework==3.15.2
docopt==0.6.2
geographiclib==2.0
geopy==2.4.1
googlemaps==4.10.0
gunicorn==23.0.0
idna==3.10
Js2Py==0.74
packaging==24.2
pipwin==0.5.2
psycopg==3.2.6
pyjsparser==2.7.1
PyPrind==2.11.3
pySmartDL==1.3.4
requests==2.32.3
setuptools==76.0.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
urllib3==2.3.0
wheel==0.45.1
python-dotenv==1.0.1
